@model icbf_app.Models.Jardin

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Jardín</h1>

<h3>¿Está seguro que desea eliminar este jardín?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreJardin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreJardin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionJardin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionJardin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoJardin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoJardin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdJardin" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </form>
</div>
